page-product {
    .buttons-justified {
        display: flex;
        justify-content: space-between;
    }
    .ios {
        .user{
            padding: 28px;
        }
    }
    .md{
        .user{
            margin-right: 10px;
        }
    }
    .user {
        float: right;
        
    }
    ion-slides {
        height: 45%;
    }
    .slide-zoom {
        width: 50%;
    }
    .button-clear{
        color: #4e296e;
    }
    .ion-icon, .btn-default, .swiper-pagination-bullet-active{
        background-color: #4e296e;
    }
    h5{
        font-size: 3rem;
        color: #4e296e;
    }
    .toolbar-background{
        background: #4d156e;
    }
    .toolbar-title{
        text-align: center;
        color: #fff;
    }
}