page-product {
    .buttons-justified {
        display: flex;
        justify-content: space-between;
    }
    .ios {
        .user{
            padding: 28px;
        }
    }
    .md{
        .user{
            margin-right: 10px;
        }
    }
    .user {
        float: right;
        
    }
}