<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align:center">
      Chat App
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let message of chats" [ngClass]="{'my_message_flex': message.from === nickname}">
      <span *ngIf="message.hasImage"> <ion-icon class="fa-paper-plane button"></ion-icon></span>
      <ion-col col-9 class="message" [ngClass]="{'my_message': message.from === nickname, 'other_message': message.from !== nickname}">
        <span>{{ message.text }}</span>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-rodape">
    <ion-row class="message_row">
      <ion-col col-12>
        <ion-item no-lines>
          <ion-input type="text" placeholder="Enter Message" [(ngModel)]="chat_input" class="chat_input"> </ion-input>
        </ion-item>
        <button ion-button clear color="primary" required (click)="send(chat_input)" class="chat_button">
          <ion-icon class="fa-paper-plane button"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-footer>