<ion-header>
  <ion-navbar style="height:10%;">
    <ion-title style="padding: 0px; height:100%;">
      <ion-icon class="fa-user user"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="contentArea">
  <ion-grid>
    <ion-row *ngFor="let message of chats" class="chatlist" [ngClass]="{'my_message_flex': message.from === nickname}">
      <ion-col col-1 > <ion-icon *ngIf="message.hasImage" class="fa-user lu"></ion-icon></ion-col>
      <div class="message" [ngClass]="{'my_message': message.from === nickname, 'other_message': message.from !== nickname}">
        <span>{{ message.text }}</span>
      </div> 
      
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-rodape">
    <ion-row class="message_row">
      <ion-col col-12>
        <ion-item no-lines>
          <ion-input type="text" placeholder="Enter Message" [(ngModel)]="chat_input" class="chat_input"> </ion-input>
        </ion-item>
        <button ion-button clear color="primary" required (click)="send(chat_input)" (keyup.enter)="send(chat_input)" class="chat_button">
          <ion-icon class="fa-paper-plane button"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-footer>