$fa-font-path: "../assets/fonts" !default; 
@import "font-awesome"; 
i[class^="fa-"], ion-icon[class^="fa-"] {    
    font-family: "FontAwesome" !important;
 }
 
page-home {
    
    .message_row {
        background-color: #fff;
    }
    .message {
        padding: 12px! important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
        max-width: 91%;
    }
    .my_message {
        background: #6441a5 !important;
        color: #fff !important;
        text-align: right;    
        float: right;
    }
    .other_message {
        background: #E5E9F2 !important;
        color: #000 !important;
        text-align: left;
    }
    .time {
        color: #afafaf;
        float: right;
        font-size: small;
    }
    .my_message_flex{
        justify-content: flex-end;
    }
    
    .chat_input{
        border-radius: 30px;
        border: 1px solid #ECEFF4;
        padding: 4px;
    }
    .chat_button{
        float: right;
        bottom: 49px;
        right: 1.09em;
    }
    .text-input-ios{
        margin: 11px 8px 11px 11px;
    }
    .lu{
        vertical-align: sub;
    }
    .user {
        float: right;
        
    }
    .answers{
        padding: 0.25em;
        
    }
    .botao_tags{
        font-size: 12px;
        //background-image: linear-gradient(to bottom right, #8E2DE2, #4A00E0);
        color: #6441a5;
        border: #6441a5 1px solid;
    }
    .botao_tags:hover{
        font-size: 12px;
        background-image: linear-gradient(to bottom right, #8E2DE2, #4A00E0);
        color: #FFF;
        //border: #6441a5 1px solid;

    }
    .toolbar-background{
        background: #4d156e;
    }
    .toolbar-title{
        text-align: center;
        color: #fff;
    }
    .button-round{
        padding: 0 1em;
    }
    ion-footer {
        background: white;
        ion-icon {
          padding: 13px 10px 10px 10px;
          font-size: 25px;
          color: white;
        }
      }
      ion-content {
     
        background-size: cover;
        height: 100%;
        overflow: hidden;
        .item-md, .item-ios {
          background: none;
        }
      }
      .circle {
        background-color: #00e676;
        height: 50px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 50px;
    }
    
}

.ios {
    .user{
        padding: 28px;
    }
}
.md{
    .user{
        margin-right: 10px;
    }
}